<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration_page</title>
    <link rel="stylesheet" href="./logres.css" />
</head>
<body>
    <h1 class="display">Register_Page</h1>
    <form action="adduser" method="POST" class="container display">
        <div >
            <input type="text" name="username" required/>
            <label>Username</label><br>
            <input type="password" name="password" required/>
            <label>Password</label><br>
            <input type="number" name="mobileno" required/>
            <label>Mobile-No</label><br>    
        </div>
        <div>
            <input type="submit" value="Submit" class="btn" />
            <a href="/login">Already Register...</a>
        </div>

    </form>
    <script src="./index.js" type="module"></script>
</body>
</html>